<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sale_order_invoice_save_after">
		<observer instance="Angel\Fifty\Observer\Sale\OrderInvoiceSaveAfter" name="angel_fifty_observer_sale_orderinvoicesaveafter_sale_order_invoice_save_after"/>
	</event>
</config>
