<span class="countdown_row countdown_show4">
    <span class="countdown_section"><span class="countdown_amount" data-bind="text: day"></span><br><span data-bind="i18n:'Days'"></span></span>
    <span class="countdown_section"><span class="countdown_amount" data-bind="text: hour"></span><br><span data-bind="i18n:'Hour'"></span></span>
    <span class="countdown_section"><span class="countdown_amount" data-bind="text: minute"></span><br><span data-bind="i18n:'Minute'"></span></span>
    <span class="countdown_section"><span class="countdown_amount" data-bind="text: second"></span><br><span data-bind="i18n:'Second'"></span></span>
</span>