.purchase-message.success{
    background-color: #0DFF92;
}
.purchase-message.error{
    background-color: indianred;
}
.my-tickets tr.head{
    background-color: #d1d6d8;
}
.earn-money{
    background-color: green;
    font-weight: bold;
}
.lose-money{
    background-color: indianred;
    color: #eae5e5;
    font-weight: bold;
}